@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');



header {
  position: fixed;
  top: 8px;
  left: 32%;
  z-index: 1;
}

@media (max-width: 768px) {
  header {
    transform: scale(0.8);
    left: 0;
    right: 0;
  } 
  .project-container img {
    transform: scale(0.8);
  }
  

}

h1, h5 {
  font-family: 'Exo', 'sans-serif';
}
h1 {
  font-size: 4.9vw;
  font-weight: bold;
  color: rgb(0, 255, 198);
}
h5 {
  font-size: 1.3vw;
}
 body {
  /* background-image: url(galaxy.jpg);  */
  margin:220px auto 500px auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100dvw;
  max-height: 50dvh;
  
} 
.navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
  list-style: none;
  gap: 8.33vw;
  margin-top: 5vh;
  align-items: center;
}
.navigation a p:hover{
  color:rgb(0, 255, 198);
  opacity: .8;  
}
.socialmedia a i:hover{
  color:rgb(0, 255, 198);
  opacity: .8; 
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10%;
  /* flex: 1; */
}

.left {
  display: flex;
  flex-direction: column;
  position: fixed;
  /* top: 250px;
  bottom: 50px; */
  top: 39%;
  z-index: 1;
}
.socialmedia {
  list-style: none;
  font-size: 2.6vw;
  color: rgb(190, 241, 247);
  display:inline-block;
}
.intro-container {
  margin-left: 16vw;
  color: rgb(190, 241, 247);
  height: 8.33vw;
  top: -3.33vw;
  display: flex;
  flex-direction: row;
}
.myName {
  display: inline-block;
  vertical-align: middle;
}
.navigation a>p, .navigation a {
  color: rgb(190, 241, 247);
  font-weight: bold;
  font-size: 1.7vw;
  font-family: 'Orbitron', sans-serif;
}
.intro-container img {
  object-fit: cover;
  margin-left: 8.33vw;
  width: 26vw;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 3%;
  margin-top: -4.1667vw;
  height: auto;

  min-width: 200px;
  min-height: auto;
}
.intro-para {
  font-size: 1.5vw;
  max-width: 37vw;
}
/* .btn {
  background-color: rgb(0, 255, 198);
  width: 200px;
  height: 50px;
  color:rgb(190, 241, 247);
} */

.button {
  background-color: transparent;
  border: 1.8px solid rgb(0, 255, 198);
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  width: 250px;
}
.button a {
  text-decoration: none;
  color:  rgb(0, 255, 198);
  font-weight: bold;
}
.button:hover{
  background-color:rgb(20, 70, 83);
  opacity: .8;
}
.right, .right a {
  display: flex;
  flex-direction: row;
  writing-mode: vertical-lr;
  font-size: 18px;
  font-weight: 300;
  color: rgb(190, 241, 247); 
  text-decoration: none;
  position:fixed;
  padding: 0;
  right: 50px;
  top: 42%;
  z-index: 1;
}
.right a:hover {
  opacity: .8;
  color: rgb(0, 255, 198);
}
footer p {
  color: rgb(190, 241, 247);
  font-size: 18px;
  font-weight: 300;
}
footer {
  /* display: flex;
  flex-direction: column; */
  position: fixed;
  /* bottom: -13%; */
  align-items: center;
  left: 45%;
  bottom: 0;
}

.left::after {
  content: "";
  display: block;
  width: 1px;
  height: 100dvh;
  background-color: rgb(190, 241, 247);
  align-items: center;
  opacity: .8;
  margin-left: 15px;
  margin-top: 10px;
}
.right::after {
  content: "";
  display: block;
  width: 1px;
  height: 100dvh;
  background-color: rgb(190, 241, 247);
  align-items: center;
  opacity: .8;
  margin-right: 0;
  margin-top: 170px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}
.project-container img {
  width: 100%;
  /* max-width: 400px;
  min-width:200px; */
  width: 500px;
  /* min-height: 300px;
  max-height: 300px; */
  height: 300px;
  padding-left: 10px;
  padding-right: 10px;
  object-fit: cover;
  border-radius: 10%;
}


.project-container:hover img {
  opacity: 0.4;
}
.project-container:hover .project-description {
  opacity: 1;
}
.project-container:hover .text-overlay {
  height: 150%;
}
.project-container {
  position:relative;
  width: 100%;
  overflow: hidden; /* Hide overflowing content */
}
.project-description {
  opacity: 0; /* Initially hidden */
   /* Add a transition for opacity */
  transition: opacity 0.5s ease; 
  /* transition: opacity 0.5s ease; */
  height: 150%;
  font-family: 'Helvetica', 'sans-serif';
  text-align: center;
  font-size: 120%;
  text-shadow: 5px 5px  20px rgba(0, 0, 0, 1);
}

.text-overlay {
  position: absolute;
  /* Adjust vertical position */
  top: 98%;
  /* Adjust horizontal position */
  left: 50%; 
  max-width: 100%;
  min-width: 80%;
  height: 35%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  text-align: center;      
  display: inline; 
  /* Start with a height of 0 */
  overflow: hidden; /* Hide overflowing content */
  /* Add a transition for the height */
  transition: height 0.4s ease; 
  color: white;
}
.text-overlay h3 {
  position: relative;
  display: inline;
  font-weight: bold;  
  /* text-shadow: 2px 2px 0px black, -2px -2px 0px  black,  2px -2px 0px  black, -2px 2px 0px  black; */
  text-shadow: 5px 5px  20px rgba(0, 0, 0, 1);
  /* font-family: 'Exo', 'sans-serif'; */
  font-family: 'Helvetica', 'sans-serif';
  font-size: 33px;
  /* opacity: 0; */
  /* transition: opacity 0.5s ease;  */
}


/* About.html */
.experience {
  display: flex;
  flex-direction: column;
  color: white;
  font-family:'Helvetica', 'sans-serif';
  justify-content: center;
}
.exp-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 7vh;
}
.exp-title h1 {
  font-family: 'Exo';
  color: white;
  font-size: 2.5vw;
}
.exp-title h4 {
  /* margin-top: 2.5vh; */
  margin-top: 1vh;
  font-size: 1.7vw;
  font-family: 'Exo';
}
.exp-title h4 p {
  font-size: 1.2vw;
  text-align: end;
}
.exp-description {
  font-family: 'Exo';
  text-align:left;
  padding-top: 3vh;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-bottom: 3vh;
  font-size: 1.3vw;
}
.board {
  background-color:  rgba(104,104,104, 0.5);
  /* max-width: 65vw; */
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 3%;
  /* max-height: 150vh; */
  transition: background-color 0.6s ease
}
.board:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.education-container, .experience-container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 75vw;
  max-height: 200vh;
  border-radius: 2%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-left: 13%;
  flex-direction: column; /* Change to column to stack the circles vertically */
  justify-content: flex-start; /* Align items to the top */
  align-items: flex-start;
  margin-bottom: 10vh;
}
.education-container-2 {
  margin-top: 3vh;
}
.circle-1, .circle-2, .circle-3 {
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  opacity: unset;
}
.circle-2 {
  background-color: rgb(255, 165, 0);
}
.circle-3 {
  background-color: green;
}
.circle-1:hover, .circle-2:hover, .circle-3:hover {
  opacity: 0.7;
}
.circle {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  padding-left: 1vw;
  padding-top: 2vh;
}
.line {
  margin-top: 1.5vh;
  width: 100%; /* Adjust the width as needed to control the line's length */
  height: 1px; /* Set the height to determine the line's thickness */
  background-color: rgb(255, 255, 255, 0.4);
}
.education-text, .experience-text {
  display: flex;
  color: white;
  position: absolute;
  margin-left: 35%;
  padding-top: 1vh;
  font-family: Helvetica;
  font-weight: 100px;
}
.education-picture {
  margin-top: 4vh;
  margin-left: 5vw;
  border-radius: 2%;
  overflow: hidden;
  max-width: 65vw;
  max-height: 79vh; 
  display: flex;
  justify-content: center;
  position: relative;
}
.education-picture-2 {
  margin-top: 6vh;
  margin-left: 5vw;
  border-radius: 2%;
  overflow: hidden;
  max-width: 65vw;
  max-height: 80vh; 
  display: flex;
  justify-content: center;

  margin-bottom: 5vh;
  position: relative;
}

.education-picture img{
  /* object-fit: contain; */
  object-fit: contain;
}
.education-picture-2 img {
  /* padding-bottom: 6vh; */
  object-fit: fill;
  
}
.school-info {
  position: absolute;
  color: white;
  text-align: center;
  bottom: -20%;
  text-shadow: 0 0 20px rgba(0, 0 ,0, 1);
  font-family: Arial, Helvetica, sans-serif;
  transition: height 0.4s ease;
  height: 35%;
  align-items: center;
  font-family: 'Exo';

}

.school-info-2 {
  position: absolute;
  color: white;
  text-align: center;
  bottom: 0;
  text-shadow: 0 0 20px rgba(0, 0 ,0, 1);
  font-family: Arial, Helvetica, sans-serif;
  transition: height 0.4s ease;
  height: 15%;

  font-family: 'Exo';
}
.school-info h3, .school-info-2 h3 {
  font-weight: bold;
  font-size: 3vw;
}
/* .school-info h2 {
  font-weight: bold;
  align-items: center;
  text-align: center;
} */
.school-description {
  position: absolute;
  color: white;
  font-size: 1.7vw;
  opacity: 0;
  transition: opacity 0.4s ease;
  margin: 0 auto;
}

.education-picture:hover img {
  opacity: 0.5;
}
.education-picture-2:hover img {
  opacity: 0.5;
}
.education-picture:hover .school-info {
  height: 100%;
}
.education-picture-2:hover .school-info-2 {
  height: 80%;
}

.education-picture:hover .school-description {
  opacity: 1;
}
.education-picture-2:hover .school-description {
  opacity: 1;
}


